.portRoute {
    position: relative;
    margin-left: 15%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FFF;
    min-height: 100vh;
    max-height: 100%;
    box-shadow: inset 0px 0px 3px -1px rgba(194,194,194,1);
}