@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@400;700;900&display=swap');
.gridcontainer{
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: aliceblue;
      margin-bottom: 130px;
      height: auto;
      width: auto;
}

.card{
    color: #FF9838;
    text-align: center;
}

.contactForm {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: aliceblue;
}
