@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

.lovePage{
    
    height: 90vh;
    margin: 0px auto;
    padding-top: 100px;
    background-color: bisque;
    font-size: 1.6rem;
    
   
}

.loveHeader {
    text-align: center;
}

.loveP {
    text-align: center;
    font-weight: 550;

    
}
.loveL{
    text-align: center;
    font-weight: 400;

}

.loveUl {
    padding-left:0;
    text-align: center;
    list-style-position: inside;
}

.loveA {
    color: rgb(218, 70, 16);
    text-decoration: none;
}
h3{
    text-align: center;
}
span{
    font-style: italic;
    font-weight: 400;
}
