@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

.lovePage{
    
    height: 90vh;
    margin: 0px auto;
    padding-top: 100px;
    background-color: white;
    font-size: 1.6rem;
    
   
}

.loveHeader {
    text-align: center;
}

.loveP {
    text-align: center;

    
}

.loveUl {
    background: url(https://th.bing.com/th/id/OIP.-0A1gCZ2RgFZfjMjpjUzaAHaE8?w=259&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7);
    background-position: left;
    background-repeat: no-repeat;
    list-style-type: none;
    padding-left:0;
    text-align: center;
    list-style-position: inside;
}

.loveA {
    color: coral;
    text-decoration: none;
}
