@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@400;700;900&display=swap');

.resource{
    margin-top: 80px;
    background-color: aliceblue;
    text-align: center;
    margin-bottom: 150px;
    font-family: "Nunito" sans-serif;
}

.table{
    background: linear-gradient(to bottom, #064a81,#51ABF6,white);
    margin: auto;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: .5em;
    border: #51ABF6;
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: 5px 5px 10px;

}

