@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@400;700;900&display=swap');

.resource{
    margin-top: 80px;
    background: url("https://th.bing.com/th/id/OIP.mdolDq6rMgsNshKzamz_5gHaEo?w=314&h=196&c=7&r=0&o=5&dpr=1.25&pid=1.7");
    background-size: cover;
    text-align: center;
    margin-bottom: 150px;
    font-family: "Nunito" sans-serif;
}
.resourcePage{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    text-align: center;
}

.table{
    background: linear-gradient(to bottom, #064a81,#51ABF6,white);
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: .5em;
    border: #51ABF6;
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: 5px 5px 10px;

}

