.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    margin: auto;
    background-color: #FFF;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.navList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.navLink {
    color: #161616;
    margin: 0px 10px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.navLink:hover {
    color: #0085b1;
}

.navBtn {
    background-color: #46C0EA;
    color: #FFF;
    margin: 0px 10px;
    padding: 10px 20px;
    letter-spacing: 1px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.navBtn:hover {
    background-color: #0085b1;
}