.container{ 
    viewport-fit: initial;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-right: 800px;
    padding-top: 100px;
    margin-bottom: 800px;
}
.rekindleH1{
    font-size: 5rem;
    font-weight:bolder;
}
.missionWrapper{
    width:1200px;
    font-size: 2em;
}
.aboutWrapper{
    display: flex;
    justify-content: center;
    width:1200px;
    height:auto;
    background-image:linear-gradient(#1a70b6, #51ABF6) ;
}
.about{
    font-size: xx-large;
    width:1000px;
}



