.portDiscussMain {
    display: flex;
}

.portDiscussSectionOne {
    width: 75%;
    padding-right: 20px;
}

.portDiscussH1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px 10px;
    font-size: 3rem;
    border-radius: 3px;
    color: white;
    background: #FEC56B;
}

.portDiscussH3 {
    margin: 20px auto;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

.discussForm {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.discussDate {
    margin: 10px 0px;
    width: 50%;
    height: 30px;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgba(0,0,0,0.1);
}

.discussDate[type="date"] {
    padding: 10px 10px;
    color: #7A7A7A;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.discussQuest {
    margin: 10px 0px;
    width: 100%;
    height: 30px;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgba(0,0,0,0.1);
}

.discussQuest[type="text"] {
    padding: 10px 10px;
    color: #7A7A7A;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.discussEntry {
    margin: 10px auto;
    width: 100%;
    height: 120px;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgba(0,0,0,0.1);
}

.discussEntry[type="text"] {
    padding: 10px 10px;
    color: #7A7A7A;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.discussSubmit {
    width: 40%;
    margin: 20px auto;
    background-color: #46C0EA;
    color: #FFF;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 20px 50px;
    letter-spacing: 1px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.discussSubmit:hover {
    background-color: #0085b1;
}

.portDiscussSectionTwo {
    width: 25%;
    margin: 0px 30px;
    padding: 0px 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.portDiscussSingle {
    display: flex;
    align-items: center;
}

.portDiscussDel {
    margin-right: 0px;
    padding: 5px 10px;
    color: white;
    background-color: #FEC56B;
    border: none;
    border-radius: 3px;
}

.portDiscussH2 {
    margin: 10px auto;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.portDiscussCards {
    margin: 20px auto;
    border-radius: 3px;
    border: 2px solid #FEC56B;
    transition: 0.2s ease;
}

.portDiscussCards a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #FEC56B;
    transition: 0.2s ease;
}

.portDiscussCards:hover {
    background-color: #FEC56B;
    border: 2px solid white;
}

.portDiscussCards a:hover {
    color: white;
}

.portDiscussLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    text-decoration: none;
}