.portPromptMain {
    display: flex;
}

.portPromptSectionOne {
    width: 75%;
    padding-right: 20px;
}

.portPromptH1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px 10px;
    font-size: 3rem;
    border-radius: 3px;
    color: white;
    background: #409BFF ;
}

.portPromptH2 {
    margin: 10px auto;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.portPromptH3 {
    margin: 20px auto;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

.portPromptSectionTwo {
    width: 25%;
    margin: 0 30px;
    padding: 0px 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.portPromptSingle {
    display: flex;
    align-items: center;
}

.portPromptDel {
    margin-right: 0px;
    padding: 5px 10px;
    color: white;
    background-color: #409BFF;
    border: none;
    border-radius: 3px;
}

.portPromptH2 {
    margin: 10px auto;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.portPromptCards {
    margin: 10px auto;
    border-radius: 3px;
    border: 2px solid #409BFF;
    transition: 0.2s ease;
}

.portPromptCards a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #409BFF;
    transition: 0.2s ease;
}

.portPromptCards:hover {
    background-color: #409BFF;
    border: 2px solid white;
}

.portPromptCards a:hover {
    color: white;
}

.portPromptLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    text-decoration: none;
}

// ==================================================================

.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 120px;

}
.promptTitle{
    padding-top: 50px;
    font-size:5rem;
}

.dateField{
    margin: 10px 10px;
    padding: 10px 10px;
    height: 30px;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgba(0,0,0,0.1);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100px;    
    color: #7A7A7A;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.textfield {
    padding: 10px 10px;
    color: #7A7A7A;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin: 30px auto;
    width:85%;
    left: 50%;    
    height: 300px;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgba(0,0,0,0.1);
   
}

.entryForm{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.submit{
    width: 40%;
    margin: 20px auto;
    background-color: #46C0EA;
    color: #FFF;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 20px 50px;
    letter-spacing: 1px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease;
}
.submit:hover {
    background-color: #0085b1;
}

// ========================================================

.promptForm {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.promptDate {
    margin: 10px 0px;
    width: 50%;
    height: 30px;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgba(0,0,0,0.1);
}

.promptDate[type="date"] {
    padding: 10px 10px;
    color: #7A7A7A;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.promptQuest {
    margin: 10px 0px;
    width: 100%;
    height: 30px;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgba(0,0,0,0.1);
}

.promptQuest[type="text"] {
    padding: 10px 10px;
    color: #7A7A7A;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.promptEntry {
    margin: 10px auto;
    width: 100%;
    height: 200px;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgba(0,0,0,0.1);
}

.promptEntry[type="text"] {
    padding: 10px 10px;
    color: #7A7A7A;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.promptSubmit {
    width: 40%;
    margin: 20px auto;
    background-color: #46C0EA;
    color: #FFF;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 20px 50px;
    letter-spacing: 1px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.promptSubmit:hover {
    background-color: #0085b1;
}