.portDiscussH1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px 10px;
    font-size: 3rem;
    border-radius: 3px;
    color: white;
    background: #FEC56B;
}

.portDiscussCont {
    width: 70%;
    margin: auto;
    color: #161616;
}

.portDissDate {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.portDiscussCont span {
    font-weight: 700;
    color: #FEB134;
}

.portDissQH4 {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}

.portDissAH4 {
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}