.portHead {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(238, 238, 238);
    z-index: 1;

}

.portSide {
    position: absolute;
    width: 15%;
    height: 100vh;
    max-height: 100%;
    z-index: 2;
}

.portNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 20px 20px;
}

.portOut {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.portLog {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 0 20px;
}

.portH4Top {
    padding-top: 20px;
}