.portDateMain {
    display: flex;
}

.portDateSectionOne {
    width: 75%;
    padding-right: 20px;
}

.portDateH1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px 10px;
    font-size: 3rem;
    border-radius: 3px;
    color: white;
    background: #2BD9B7 ;
}

.portDateH2 {
    margin: 10px auto;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.portDateH3 {
    margin: 20px auto;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

.portDateSectionTwo {
    width: 25%;
    margin: 0 30px;
    padding: 0px 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}