.navlist{
    @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Pathway+Gothic+One&family=Tangerine:wght@700&display=swap');
    font-family: 'Pathway Gothic One', sans-serif;
    
}

.container {
    margin-top:20px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80rem;
    width: 80%;
    // background: linear-gradient(to bottom, #064a81,#51ABF6,white);
    box-sizing: border-box;
    margin-bottom: 1200;
    // -webkit-box-shadow: inset 2px 2px 101px 49px rgba(118, 98, 163, 0.6);
    // -moz-box-shadow: inset 2px 2px 101px 49px rgba(118, 98, 163, 0.6);
    // box-shadow: inset 2px 2px 101px 49px rgba(118, 98, 163, 0.6);
}


.logo{
    min-height: 25px;
    min-width: none;
}

.wrapper{
    display:flex;
    justify-content: center;
margin-bottom: 500px;

}
.promptTitle{
    font-size:5rem;
}
.dateField{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100px;
}

.textfield{
    display: flex;
    justify-content: flex-start;
    width:500px;
   
}
.userEntry{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #90CAF9,#51ABF6);
    max-width:575px;
}




.entryForm{
    min-height: 500px;
    display: flex;
    flex-direction:column;
    border-radius: 2em;
    padding: 10px;
 



}
.textfield{
    border-radius: 10px;
   
   
  
    min-height:800px;
}
.prompt{
    color:rgb(243, 149, 73);
}

.submit{
    justify-content: flex-end;
    max-width: 80px !important;
    background-color: #51abf6;
    border-radius: 5px;
}
